# MongoDB Connection
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/msukasha?retryWrites=true&w=majority

# Node Environment
NODE_ENV=production

# Port (for local development)
PORT=5000

# JWT Secret (add your own secret key)
JWT_SECRET=your_jwt_secret_key_here

# Frontend URLs
FRONTEND_URL=https://msukasha.com
SELLER_FRONTEND_URL=https://sellermsukasha.com
